/*** ---------------FONTS--------------- ***/

@font-face {
    font-family: 'DIN';
    src: url('fonts/DINPro.woff') format('woff');
}

@font-face {
    font-family: 'DIN-Bold';
    src: url('fonts/DINPro-Bold.woff') format('woff');

}

@font-face {
    font-family: 'DIN-Light';
    src: url('fonts/DINPro-Light.woff') format('woff');
}

/***---------------- GRID ----------------***/

.container {
    position: relative;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    width: 100vw;
    margin: 0;
}

header {
    grid-area: header;
    display: grid;
    grid-template-areas:
        "menu logo logo .";
    grid-template-columns: 1fr 2fr 1fr;
}

.logo {
    grid-area: logo;
}

.burger-button {
    grid-area: menu;
}

/***------------- OVERALL ------------------- ***/

figure {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
}

.hide {
    visibility: hidden;
    pointer-events: none;
}

h2 {
    font-family: palatino;
    font-weight: 100;
    font-size: 1.5rem;
}

figcaption {
    font-family: palatino;
    font-weight: 100;
    font-size: 1.5rem;
}

p {
    font-family: palatino;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 3vw;
}

h1.overskrift {
    display: none;
}


/***--------- HEADER ------------- ***/

/*** logo ***/

.logo img {
    width: 240px;
    margin: 0 auto;
    margin-top: 3vw;

}

.logo {
    display: grid;
}

.logo2 {
    display: none;
}

.burger-button img {
    width: 30px;
    margin-top: 8vw;
    margin-left: 7vw;
    cursor: pointer;

}

/*** menu ****/
#menu {
    background-color: white;
    position: absolute;
    top: 90px;
    height: 100%;
    width: 102vw;
    margin: -2vw;
    z-index: 2;
}

#menu li {
    text-align: center;
    list-style: none;
    margin-top: 3em;
}

#menu ul {
    padding-left: 0;
}

#menu li a {
    color: black;
    text-decoration: none;
    font-family: 'DIN';
    font-size: 1rem;
}

.shoppingcart {
    position: absolute;
    font-family: 'DIN';
    font-size: 0.7rem;
    right: 1vw;
    margin-top: 0.7vw;
    margin: 0;
}

.valgt {
    font-family: 'DIN-Bold';
    font-weight: bold;
}

/*--------------FORSIDE---------------*/

main {
    width: 100vw;
}

/*'louise roe gallery' billede og overskrift*/
.wp-image-106 {
    margin: 3vw;
    width: 94vw;
    margin-top: 8vw;
}

.blok1 figcaption {
    position: absolute;
    top: 5.6vw;
    left: 3vw;
}

.blok1 {
    position: relative;
}

/*'retailers' billede og overskrift*/
.wp-image-108 {
    margin: 3vw;
    width: 94vw;
    margin-top: 8vw;
}

.blok2 figcaption {
    position: absolute;
    top: 6vw;
    right: 3.2vw;
}

.blok2 {
    position: relative;
}

/*'press' billede og overskrift*/
.wp-image-109 {
    margin: 3vw;
    width: 94vw;
    margin-top: 8vw;
}

.blok3 figcaption {
    position: absolute;
    top: 18.2vw;
    left: 3vw;
}

.blok3 {
    position: relative;
}

/*'coffee table' billede og overskrift*/
.h2_coffeetable {
    margin: 3vw;
    width: 94vw;
    margin-top: 8vw;
}

/*--------------shop forside---------------*/

/*inspiration - billede og overskrift*/

.inspiration_kasse figcaption {
    position: absolute;
    top: 25.5vw;
    left: 3vw;
}

/*fjernelse af mobil billede-versioner*/
.wp-image-190 {
    display: none;
}

.desktop_shop_inspiration figcaption {
    display: none;
}

.wp-image-193 {
    display: none;
}

.desktop_shop_produkter figcaption {
    display: none;
}

/*styles af desktop billeder*/

.wp-image-191 {
    width: 350px;
    margin: 3vw;
    display: block;
    margin-top: 10vw;
}

.mobile_shop_inspiration figcaption {
    position: absolute;
    top: 30vw;
    right: 7vw;
    font-size: 1.2rem;
    display: block;
}

.mobile_shop_produkter figcaption {
    position: absolute;
    top: 97vw;
    left: 7vw;
    font-size: 1.2rem;
    display: block;
}

.wp-image-192 {
    width: 350px;
    margin: 3vw;
    display: block;
    margin-top: 10vw;
}


/*produkter - billede og overskrift*/

.products_kasse figcaption {
    position: absolute;
    top: 162.5vw;
    right: 3vw;
}

.indhold_shop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-------------------PRODUKTER-----------------*/

.produkterwrapper {
    margin-top: 2vw;
}

.produkterwrapper h2 {
    text-align: center;
    font-family: DIN;
    text-transform: uppercase;
}


.colours {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0vw 33vw;
}

.colours img {
    width: 8vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 1vw;
}

button {
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#liste {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10vw 6vw;

}

#liste img {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#liste h2 {
    font-family: DIN;
    font-size: 0.7rem;
    line-height: 1.5rem;
    margin: 0;
    text-align: center;
}

/*-------------------FOOTER-----------------*/

footer {
    margin-top: 6vw;
    text-align: center;
}

.logo_footer {
    width: 100vw;
}


footer a {
    font-family: 'DIN-Light';
    text-decoration: none;
    color: black;
    padding-bottom: 1vw;
    margin: 5vw
}

/*------------------------------MEDIAQUERY FOR 400PX-------------------------------*/
@media only screen and (min-width: 400px) {}


/*-----------------------------MEDIAQUERY FOR IPAD------------------------------------*/

@media only screen and (min-width: 528px) {
    /* MENU */

    .burger-button img {
        margin-top: 7vw;
    }

    #menu {
        top: 100px;
    }

    /*--------------FORSIDE---------------*/

    /*'louise roe gallery' billede og overskrift*/


    .blok1 figcaption {
        top: 5.5vw;
    }

    /*'retailers' billede og overskrift*/

    .blok2 figcaption {
        top: 6vw;
    }

    /*'press' billede og overskrift*/

    .blok3 figcaption {
        top: 18.4vw;
    }

    /*---------------SHOP-----------------*/

    .indhold_shop {
        flex-direction: row;
    }

    /*fjernelse af mobil billede-versioner*/
    .wp-image-191 {
        display: none;
    }

    .mobile_shop_inspiration figcaption {
        display: none;
    }

    .wp-image-192 {
        display: none;
    }

    .mobile_shop_produkter figcaption {
        display: none;
    }

    /*styles af desktop billeder*/

    .wp-image-190 {
        width: 300px;
        margin: 2vw;
        display: block;
    }

    .desktop_shop_inspiration figcaption {
        position: absolute;
        top: 14.5vw;
        left: 7vw;
        font-size: 1.2rem;
        display: block;

    }

    .desktop_shop_produkter figcaption {
        position: absolute;
        top: 14.5vw;
        right: 7vw;
        font-size: 1.2rem;
        display: block;

    }

    .wp-image-193 {
        width: 300px;
        margin: 2vw;
        display: block;

    }

    /*--------------PRODUKTER----------------*/

    #liste {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }


    /*--------------FOOTER----------------*/

    footer a {
        margin: 7vw
    }

    @media only screen and (min-width: 775px) {

        #menu {
            top: 110px;

        }

    }

}

@media only screen and (min-width: 1024px) {

    /*forside-splash*/
    .wp-image-157 {
        width: 100%;
        padding: 0;
        margin: 0;
    }


}


/*-------------------------MEDIAQUERY FOR webshop/IPAD--------------------------*/

@media only screen and (min-width: 716px) {

    /*---------------SHOP-----------------*/

    /*fjernelse af mobil billede-versioner*/
    .wp-image-191 {
        display: none;
    }

    .mobile_shop_inspiration figcaption {
        display: none;
    }

    .wp-image-192 {
        display: none;
    }

    .mobile_shop_produkter figcaption {
        display: none;
    }

    /*styles af desktop billeder*/

    .wp-image-190 {
        width: 420px;
        margin: 3vw;
        display: block;
    }

    .desktop_shop_inspiration figcaption {
        position: absolute;
        top: 12.5vw;
        left: 7vw;
        font-size: 1.5rem;

    }

    .desktop_shop_produkter figcaption {
        position: absolute;
        top: 12.5vw;
        right: 7vw;
        font-size: 1.5rem;

    }

    .wp-image-193 {
        width: 420px;
        margin: 3vw;
        display: block;

    }
}

/*-----------------------------MEDIAQUERY FOR WEBSITE------------------------------------*/

@media only screen and (min-width: 1080px) {



    /*HEADER*/
    header {
        display: block;
        grid-template-areas: none;
        grid-template-columns: none;
        height: 25vh;

    }

    .a {
        grid-area: a;
    }

    .b {
        grid-area: b;
    }

    .c {
        grid-area: c;
    }

    .d {
        grid-area: d;
    }

    ul {
        display: grid;
        grid-template-areas:
            "a b . c d";
        grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;

    }


    .logo2 img {
        width: 100%;
        max-width: 400px;
        position: fixed;
        z-index: -1;
        cursor: pointer;
    }

    .logo2 {
        grid-area: logo;
        margin-left: -0.5vw;
        display: block;
    }


    #menu {
        background-color: transparent;
        width: initial;
        margin: 0;
        width: 100vw;
        top: 0;
        height: 0;

    }

    .logo img {}

    .logo {
        display: none;
    }

    .hide {
        visibility: visible;
        pointer-events: initial;
    }

    .burger-button {
        display: none;
    }

    #menu li {
        padding: 0;
    }

    #menu li a {}

    /******FORSIDE******/

    /*'louise roe gallery' billede og overskrift*/
    .wp-image-106 {
        width: 45%;
        margin: 0vw;
        margin-top: 5vw;
        margin-left: 4vw;
    }

    .blok1 figcaption {
        top: 4vw;
        left: 4vw;
    }

    /*'retailers' billede og overskrift*/
    .wp-image-108 {
        position: relative;
        margin: 0vw;
        width: 40%;
        margin-top: 0vw;
        left: 55vw;
        top: -20vw;
    }

    .blok2 figcaption {
        top: -20.9vw;
        left: 83vw;
    }


    /*'press' billede og overskrift*/
    .wp-image-109 {
        position: relative;
        margin: 0vw;
        width: 40%;
        margin-top: 0;
        margin-left: 4vw;
        top: -47vw;
    }

    .blok3 figcaption {
        top: -42.5vw;
        left: 4vw;
    }

    .blok3 {
        height: 0;
    }

    /*'coffee table' billede og overskrift*/

    .h2_coffeetable {
        margin-left: 4.5vw;
        width: 40vw;
        margin-top: 12vw;
    }

    /*
    .publication_img img {
        align-items: center;
        margin: 0 auto;
    }
*/

    /*--------SHOP---------*/

    /*fjernelse af mobil billede-versioner*/
    .wp-image-191 {
        display: none;
    }

    .mobile_shop_inspiration figcaption {
        display: none;
    }

    .wp-image-192 {
        display: none;
    }

    .mobile_shop_produkter figcaption {
        display: none;
    }

    /*styles af desktop billeder*/

    .wp-image-190 {
        width: 550px;
        margin: 3vw;
        display: block;

    }

    .desktop_shop_inspiration figcaption {
        position: absolute;
        top: 14.5vw;
        left: 7vw;
    }

    .desktop_shop_produkter figcaption {
        position: absolute;
        top: 14.5vw;
        right: 7vw;
    }

    .wp-image-193 {
        width: 550px;
        margin: 3vw;
        display: block;
    }

    /*--------------PRODUKTER----------------*/

    .produkterwrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 4fr 1fr;
        grid-template-areas:
            "content sidebar";
    }

    .produktercontent {
        grid-area: content;
        padding-left: auto;
        padding-right: auto;
    }

    .produktersidebar {
        grid-area: sidebar;
    }

    .colours {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0vw;
    }

    .colours img {
        width: 3vw;
        margin-left: auto;
        margin-right: auto;
        display: inline;
        margin: 1vw;
    }

    #liste {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0;

    }

    #liste img {
        width: 50%;
        display: inline;

    }

    #liste h2 {
        width: 50%;
        text-align: center;

    }

    .produkterwrapper {
        margin-top: 2vw;
    }

    /*.produkterwrapper h2 {
    text-align: center;
    font-family: DIN;
    text-transform: uppercase;
}


.colours {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0vw 33vw;
}

.colours img {
    width: 8vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 1vw;
}

button {
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#liste {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10vw 6vw;

}

#liste img {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#liste h2 {
    font-family: DIN;
    font-size: 0.7rem;
    line-height: 1.5rem;
    margin: 0;
    text-align: center;
}*/


    /******FOOTER******/

    footer a {
        font-family: 'DIN';
        text-decoration: none;
        color: black;
        padding-bottom: 1vw;
        margin: 2vw;
    }

    .footer_menu {
        position: fixed;
        transform: rotate(-90deg);
        right: -16vw;
        bottom: 17vw;
        padding-bottom: 1vw;
        margin: 0;
    }

}



@media only screen and (min-width: 1180px) {
    .footer_menu {
        right: -14.7vw;
        bottom: 14vw;
    }

    /*'retailers' overskrift*/

    .blok2 figcaption {
        left: 84.5vw;
    }
}
