/*** ---------------FONTS--------------- ***/

@font-face {
    font-family: 'DIN';
    src: url('fonts/DINPro.woff') format('woff');
}

@font-face {
    font-family: 'DIN-Bold';
    src: url('fonts/DINPro-Bold.woff') format('woff');

}

@font-face {
    font-family: 'DIN-Light';
    src: url('DINPro-Light.woff') format('woff');
}

/***---------------- GRID ----------------***/

.container {
    position: relative;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    width: 100vw;
    margin: 0;
}

header {
    grid-area: header;
    display: grid;
    grid-template-areas:
        "menu logo .";
    grid-template-columns: 1fr 2fr 1fr;
}

.logo {
    grid-area: logo;
}

.burger-button {
    grid-area: menu;
    width: 83px;
}

/***------------- OVERALL ------------------- ***/

figure {
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

.hide {
    visibility: hidden;
    pointer-events: none;
}

/***--------- HEADER ------------- ***/

/*** logo ***/

.logo img {
    width: 200px;
}

.logo {}

.burger-button img {
    width: 40px;
    margin: 2vw;
    top: 2vw;
}
